.editor-visible div.x-grid-cell-inner {
    border: 1px solid #0080cc;
}

.x-grid-cell-inner {
    position: relative;
    text-overflow: ellipsis;
    padding: 5px 5px 4px;
}

.x-form-item-default.x-item-disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: 0.8;
}

.x-btn.x-btn-disabled.x-btn-default-toolbar-small {
    background-color: #5fa2dd;
}

div.tituloActa .x-form-display-field-default {
    font-size: 1.2em;
    margin-right: 1em;
    font-weight: bold;
    text-align: right;
}

.x-panel .no-border {
    border-width: 0
}

.disabled-row .x-grid-cell {
    cursor: pointer;
}

.seleccionExpediente {
    color: red;
}

.greeniconcolor {
    color: seagreen;
}

.grayiconcolor {
    color: lightgray;
}
.rediconcolor {
    color: darkred;
}

.yellowiconcolor {
    color: goldenrod;
}

.titulo .x-panel-body {
    font-size: 14px;
}

.hide-diligencias .x-grid-row-expander {
    display: none;
}

#landing-loading {
    margin: 200px auto;
    width: 200px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.x-btn-default-toolbar-small, .x-btn-default-toolbar-small:focus {
    background-color: #5fa2dd;
}

.x-btn-default-toolbar-small:hover {
    background-color: #5fa2dd;
    opacity: 0.9;
}

.x-oculta-fila-resumen .x-grid-row-summary {
    display:none;
}

.x-btn-inner-default-toolbar-small, .x-btn-icon-el-default-toolbar-small {
    color: #fff;
}

.x-form-item-label-default {
    color: #333;
    font-weight: bold;
}

.label-resaltado .x-form-display-field-default {
    color: inherit;
    font-weight: bold;
}

.informacion {
    padding: 1em;
    margin: 2em 1em;
    border: .5em solid #DDD;
}

.informacion .headline {
    padding: 0 .5em;
    margin: 0 10px;
    text-align: center;
}

.headline table {
    text-align: center;
    margin: auto;
}

.headline a {
    color: inherit;
}

.informacion .headline .date {
    text-align: right;
    padding-right: 3em;
}

.x-grid-subtable-header {
    text-align: left;
}

.infoActa, .infoActa:hover, .infoActa:focus, .infoActa:active {
    background-color: transparent;
    border-color: transparent;
    border: none;
}

.infoActa.x-btn-pressed {
    border: none;
    background: transparent;
}

.infoActa .x-btn-icon-left > .x-btn-icon-el-default-toolbar-small {
    width: 24px;
    height: 24px;
}

.label-info-acta .x-form-display-field-default {
    margin-top: 0px;
    font-weight: bold;
}

.text-info {
    font-size: 1.1em;
}

.x-grid-group-hd {
    background-color: #f0f0f0;
}

.x-fieldset-header-default > .x-fieldset-header-text {
    position: static;
}
